<nav class="navbar navbar-expand-lg navbar-dark " style="background: #BE012E;">
  <a class="navbar-brand" href="#">Parinya</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Coin
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/coin/mycoin">Mycoin</a>
          <a class="dropdown-item" href="/coin/history">History</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/coin/addcoin">Addcoin</a>
        </div>
      </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Money
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="coin/history">History</a>
          <a class="dropdown-item" href="coin/mycoin">Mycoin</a>
        </div>
      </li>
    </ul>
     {% if user.is_authenticated %}
     <p class="text-white mr-4">Hi! : {{user.first_name}}</p>
     <a class="btn btn-danger my-2 my-sm-0 "  href="/logout">logout</a>
     {% else %}
     <a class="btn btn-success my-2 my-sm-0 "  href="/login">login</a>
     {% endif %}
  </div>
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      {% if message.tags == "error" %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Sorry! </strong> please enter terms.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endif %}
      {% if message.tags == "success" %}
      <div class="alert alert-success " role="alert">
        <strong>Success! </strong> now you can enter to web.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endif %}
    {% endfor %}
  </ul>
  {% endif %}
</nav>